<h2><%= @hirer.username %></h2>


<% if @show_favorite_button %>
    <%= 
    link_to t('favorites.favorite_button'), 
    favorite_favorited_hirer_path(@hirer.id), 
    id: 'favorite_button',
    method: :post
    %>
<% elsif @show_unfavorite_button %>
    <%= 
    link_to t('favorites.unfavorite_button'), 
    unfavorite_favorited_hirer_path(@hirer.id), 
    id: 'unfavorite_button',
    method: :delete
    %>
<% end %>

<div id="average_score">
    <%= number_with_precision(@hirer_average_score, :precision => 2) %>
</div>

<% if @feedback %>
    <%= render partial: 'feedbacks/yours', locals: { feedback: @feedback } %>
<% end %>

<div id='hirer_details'>
    <h3><%= @hirer.email %></h3>
</div>