<div id="welcome_hirer">
    <h2><%= t('home.index.welcome_hirer_message') %></h2>
</div>

<nav>
    <%= link_to t('home.index.new_project_link'), new_project_path, :id => 'new_project_link' %>
</nav>

<div id='notifications'>
    <h2><%= t('home.index.notifications') %><h2>
    <% if @applications.empty? %>
        <%= t('home.index.no_notifications') %>
    <% else %>
        <% @applications.each do |application| %>
            <%= render partial: 'project_applications/hirer_view', locals: { application: application } %>
        <% end %>
    <% end %>
</div>