<% if @owner_signed_in %>
    <div class = 'team_information'>
        <% if @project_team.empty? %>
            <%= t('.no_team_notice') %>
        <% else %>
            <% @project_team.each do |worker| %>
                <%= render partial: 'team/worker', locals: { worker: worker, project: @project } %>
            <% end %>
        <% end %>
    </div>
<% end %>

<div id = 'project_details'>
    <% if @worker_applied %>
        <span id='applied_notice'><%= t('.applied_notice') %></span>
    <% end %>
    <h1 class='title'><%= @project.title %></h1>
    <h2 class='description'><%= @project.description %></h2>
    <h3 class='hirer'>de: <%= @project.hirer.email %></h2><!-- Vai mudar no futuro -->

    <dl>
        <dt><%= Project.human_attribute_name('skills_needed') %></dt>
        <dd class='skills_needed'> <%= @project.skills_needed %></dd>

        <dt><%=Project.human_attribute_name('max_pay_per_hour') %></dt>
        <dd class='max_pay_per_hour'> <%= number_to_currency(@project.max_pay_per_hour, unit: 'R$', separator: ',', format: "%u %n") %></dd>

        <dt><%= Project.human_attribute_name('open_until') %></dt>
        <dd class='open_until'> <%= l @project.open_until %></dd>

        <dt><%= Project.human_attribute_name('remote') %></dt>
        <dd class='remote'> <%= @project.remote ? t('common.yes') : t('common.no')%></dd>

        <dt><%= Project.human_attribute_name('presential') %></dt>
        <dd class='presential'> <%= @project.presential ? t('common.yes') : t('common.no') %></dd>
    </dl>
</div>

<div id='project_apply'>
    <span><%= @project_status_notice %></span>
    <% if @project.open? and not @worker_applied and not hirer_signed_in? %>
        <%= link_to t('.apply_button'), project_project_applications_path(@project), method: :post, id: 'apply_button' %>
    <% end %>
</div>