<div id=<%= "application-#{application.id}" %>>
    <span><%= "#{application.worker.get_full_name} #{t('project_applications.hirer_view.is_applying')}" %></span>
    <span><%= link_to application.project.title, application.project %></span>
    
    <%= 
    link_to t('project_applications.hirer_view.accept_button'), 
    accept_project_application_path(application.id), 
    id: 'accept_button',
    method: :post
    %>
    <%= 
    link_to t('project_applications.hirer_view.decline_button'), 
    decline_project_application_path(application.id), 
    id: 'decline_button',
    method: :post
    %>

    <span><%= t("project_applications.status.#{application.status}") %></span>
</div>