<div id='project_application_details'>
    <span><%= "#{@project_application.worker.get_full_name} #{t('project_applications.hirer_view.is_applying')}" %></span>
    <% unless @project_application.description == nil %>
        <span><%= @project_application.description %><span>
    <% else %>
        <span><%= t('project_applications.show.no_description') %><span>
    <% end %>

    <span><%= link_to @project_application.project.title, @project_application.project %></span>

    <span><%= t("project_applications.status.#{@project_application.status}") %></span>
    <% if @project_application.declined? %>
        <span>
            <% if (not @project_application.decline_reason or @project_application.decline_reason.empty?) %>
                <%= t('project_applications.show.no_decline_reason') %>
            <% else %>
                <%= @project_application.decline_reason %>
            <% end %>
        </span>
    <% end %>
</div>

<% if hirer_signed_in? %>
    <%=
    link_to t('project_applications.show.accept_button'), 
    accept_project_application_path(@project_application.id), 
    id: 'accept_button',
    method: :post
    %>
    <%= 
    form_with(
        model: @project_application, 
        id: 'decline_form', 
        url: decline_project_application_path(@project_application.id),
        method: :post
    ) do |f|
    %>
    <div>
        <%= f.label :decline_reason %>
        <%= f.text_field :decline_reason %>
    </div>
    <%= f.submit t('project_applications.show.decline_button') %>
    <% end %>

<% elsif worker_signed_in? and @project_application.pending? %>
    <%=
    link_to t('project_applications.show.cancel_button'), 
    cancel_project_application_path(@project_application.id), 
    id: 'cancel_button',
    method: :delete
    %>
<% end %>