<div id='project_application_details'>
    <span><%= "#{@project_application.worker.get_full_name} #{t('project_applications.hirer_view.is_applying')}" %></span>
    <% unless @project_application.description == nil %>
        <span><%= @project_application.description %><span>
    <% else %>
        <span><%= t('project_applications.show.no_description') %><span>
    <% end %>

    <span><%= link_to @project_application.project.title, @project_application.project %></span>

    <span><%= t("project_applications.status.#{@project_application.status}") %></span>
</div>

<% if hirer_signed_in? %>
    <%=
    link_to t('project_applications.show.accept_button'), 
    accept_project_application_path(@project_application.id), 
    id: 'accept_button',
    method: :post
    %>
    <%=
    link_to t('project_applications.show.decline_button'), 
    decline_project_application_path(@project_application.id), 
    id: 'decline_button',
    method: :post
    %>
<% end %>