<% if @current_worker.errors.any? %>
  <ul>
    <% @current_worker.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @current_worker, :url => worker_path(@current_worker), method: :patch do |f| %>
  <div>
    <%= f.label :education %>
    <%= f.text_field :education, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :experience %>
    <%= f.text_field :experience, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div>
    <span><%= t('home.index.obligatory') %></span>
    <%= f.label :occupation_id %>
    <%= 
    f.select :occupation_id, 
    @occupations.map {|o_type| [t('occupation_name.'+o_type.name), o_type.id]}
    %>
  </div>
  <%= f.submit t('common.submit'), class: 'btn btn-primary'%>
<% end %>
