<!DOCTYPE html>
<html>
  <head>
    <title>Td7ProjetoFinal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to 'Lance', root_path %></h1>
      <nav>
        <% unless hirer_signed_in? %>
          <%= link_to t('layout.application.signup_link'),  new_hirer_registration_path, :id => 'signup_link'%>
          <%= link_to t('layout.application.login_link'),  new_hirer_session_path, :id => 'login_link'%>
        <% else %>
          <%= link_to t('layout.application.logout_link'),  destroy_hirer_session_path, method: :delete, :id => 'logout_link'%>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
