<!DOCTYPE html>
<html>
  <head>
    <title>Lance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to 'Hiring', root_path %></h1>
      <nav>
        <% unless hirer_signed_in? or worker_signed_in? %>
          <%= render 'layouts/visitor' %>
        <% else %>
          <div id='search_bar'>
            <%= form_with url: search_path, method: :get do |form| %>
              <%= form.text_field :search_term, placeholder: t('layout.application.search_term'), class: 'search_term' %>
              <%= form.submit 'Procurar' %>
            <% end %>
          </div>
          <% if hirer_signed_in? %>
            <%= render 'layouts/hirer' %>
          <% else %>
            <%= render 'layouts/worker' %>
          <% end %>
        <% end %>
      </nav>
      <% if notice %>
        <div>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div>
          <%= alert %>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
